<template>
   <div>
      <h1>Events for {{user.user.name}}</h1>
      <EventCard v-for="event in event.events" :key="event.id" :event="event" />
      <template v-if="page != 1">
         <router-link :to="{name: 'event-list', query: {page: page - 1}}" rel='prev'>Prev Page</router-link> 
      </template>
      <template v-if="hasNext">
         | 
         <router-link :to="{name: 'event-list', query: {page: page + 1}}" rel='next'>
            Next Page
         </router-link>
      </template>
   </div>
</template>

<script>

function getPageEvents(routeTo, next){
   //btem o numero da paǵina, se não tiver o default é 1
   const currentPage = parseInt(routeTo.query.page) || 1
   store.dispatch('event/fetchEvents', {
      page: currentPage
   })
   .then(() => {
      routeTo.params.page = currentPage
      next()
   })
}

import EventCard from '@/components/EventCard.vue'
import {mapState} from 'vuex'
import store from '@/store/index'

export default {
   name: 'EventList',
   props: {
      page: {
         type: Number,
         required: true
      }
   },
   components: {
      EventCard
   } ,
   beforeRouteEnter(routeTo, routeFrom, next){
     getPageEvents(routeTo, next)
   },
   beforeRouteUpdate(routeTo, routeFrom, next){
      getPageEvents(routeTo, next)
   },
   computed: {
      hasNext(){
         const x = this.event.eventsTotal > this.page * this.event.perPage
         console.log(x)
         console.log(this.event.eventsTotal, this.page, this.event.perPage)
         return x
         //ex: 30 > 2 * 3, ou seja, total de items no evento = 30, pág. atual = 2, qtd de items
         //na pág. = 3 ==> 30 > 6, assim, o link Next Page irá ser renderizado
      },
      ...mapState(['event', 'user'])
   },
   
}
</script>