<template>
   <div>
      <h1>Uh-oh!</h1>
      <p>Algum problema de conexão...Volte mais tarde</p>
      <router-link :to="{name: 'event-list'}">Ou volte para o início.</router-link>
   </div>
</template>