<template>
   <div>
      <h1>Ooops!</h1>
      <p>The {{resource}} you're looking for is not here :(</p>
      <router-link :to="{name: 'event-list'}">Back to the home</router-link>
   </div>
</template>

<script>
export default {
   name: 'NotFound',
   props: {
      resource:{
         type: String,
         required: true
      }
   }
}
</script>